@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
:root{
  --text-orange: #FF6E00;
  --text-dark-blue: #004178;
  --text-light-blue: #0073AF;
    font-family: "Inter", sans-serif;
}
body {
  margin: 0;
}
